<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="psi-website-1.0.2">
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                        
        
        <property name="context-root" value="psi-website"/>
                        
        
        <property name="java-output-path" value="/psi-website/build/classes"/>
                    
    
    </wb-module>
        

</project-modules>
